## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_Vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,3,Rikitea,PF,74.97,moderate rain,-23.1203,-134.9692,People ThankYou
1,9,Carnarvon,AU,68.40,broken clouds,-24.8667,113.6333,Hospitality Carnarvon
2,13,Karratha,AU,79.77,clear sky,-20.7377,116.8463,ibis Styles Karratha
3,15,Acari,PE,68.22,broken clouds,-15.4311,-74.6158,HOSPEDAJE XIMENA
4,18,Truth Or Consequences,US,71.83,clear sky,33.1284,-107.2528,Charles Motel

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# 4b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City']== 'Pahrump' ]
vacation_end = vacation_df.loc[vacation_df['City']== 'Pahrump' ]
vacation_stop1 = vacation_df.loc[vacation_df['City']== 'Las Vegas' ]
vacation_stop2 = vacation_df.loc[vacation_df['City']== 'Saint George' ]
vacation_stop3 = vacation_df.loc[vacation_df['City']== 'Truth Or Consequences' ]
vacation_stop3

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,18,Truth Or Consequences,US,71.83,clear sky,33.1284,-107.2528,Charles Motel

In [6]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start.iloc[0,5:7].to_numpy()
end = vacation_end.iloc[0,5:7].to_numpy()
stop1 = vacation_stop1.iloc[0,5:7].to_numpy()
stop2 = vacation_stop2.iloc[0,5:7].to_numpy()
stop3 = vacation_stop3.iloc[0,5:7].to_numpy()
stop3

array([33.1284, -107.2528], dtype=object)

In [7]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure(center=(38, -122), zoom_level = 7)
Pahrump = start
Las_Vegas = stop1
Saint_George = stop2
Truth_Or_Consequences = stop3 
roadtrip = gmaps.directions_layer(Pahrump, Pahrump, 
                                  waypoints=[Las_Vegas, Saint_George, Truth_Or_Consequences],
                                  travel_mode="DRIVING")
fig = gmaps.figure(center=(34.0, -110.0), zoom_level=5.5)
fig.add_layer(roadtrip)
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, 
                          vacation_stop2, vacation_stop3]
                         ,ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,426,Pahrump,US,72.18,clear sky,36.2083,-115.9839,Best Western Pahrump Oasis
1,420,Las Vegas,US,75.27,clear sky,36.1750,-115.1372,Plaza Hotel & Casino
2,221,Saint George,US,72.19,clear sky,37.1041,-113.5841,Best Western Plus Abbey Inn
3,18,Truth Or Consequences,US,71.83,clear sky,33.1284,-107.2528,Charles Motel

In [9]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]
# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [10]:
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# fig.add_layer(marker_layer)
fig = gmaps.figure(center=(34.0, -110.0), zoom_level=5.5)
fig.add_layer(marker_layer)
fig.add_layer(roadtrip)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))